/* Generic styles */

body {
    background-color: #fff;
    color: #333;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    text-decoration-skip-ink: none;
}

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

a.link {
    border-bottom: 1px solid #333;
}

a.link:hover {
    border-bottom-color: transparent;
}

button {
    background-color: #e9e9ed;
    border: 1px solid #8f8f9d;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 6px;
}

button:hover {
    background-color: #d0d0d7;
}

/* Base layout */

nav {
    background-color: #222;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    margin: 0 auto 20px;
    max-width: 840px;
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 18px;
    letter-spacing: 0.05em;
}

nav li a {
    color: #ffffff;
}

nav li a:hover {
    color: #cccccc;
}

#content {
    margin: 0 auto;
    max-width: 800px;
}
