<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <meta name="referrer" content="no-referrer">
  <link rel="stylesheet" href="/static/main.css">
  {% block head %}{% endblock %}
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">overview</a></li>
      <li><a href="/import-recipe">import recipe</a></li>
    </ul>
  </nav>
  <section id="content">
  {% block content %}{% endblock %}
  </section>
</body>
</html>
