{% extends "base.html" %}

{% block title %}Delete feed{% endblock %}

{% block head %}
<style>
.delete-feed {
  margin: 50px auto 0;
  max-width: 400px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  width: 50px;
}
</style>
{% endblock %}

{% block content %}
<div class="delete-feed">
  <div>Do you want to delete feed <b>{{ recipe_name }}</b>?</div>
  <div class="buttons">
    <form method="post" action="/feeds/{{ recipe_name }}/delete">
      <button type=submit">Yes</button>
    </form>
    <a href="/">
      <button>No</button>
    </a>
  </div>
</div>
{% endblock %}
