{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block head %}
<style>
h2 {
  margin: 0;
}

.feed {
  border: 1px dashed #333;
  margin-bottom: 10px;
  padding: 10px;
}

.feed h2 {
  font-size: 1.2em;
  margin: 0 0 5px;
}

.feed-source {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.feed-not-generated {
  color: #999;
  margin-left: 5px;
}

.feed-empty {
  color: #CEA700;
  margin-left: 5px;
}

.feed-error {
  color: #ce0000;
  margin-left: 5px;
}

.recipe {
  margin: 5px 0;
}

.recipe pre {
  background-color: #eee;
  display: block;
  font-size: 13px;
  margin: 5px 0;
  overflow-x: scroll;
  padding: 5px;
}

.recipe summary {
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.actions button {
  margin-right: 5px;
}
</style>
{% endblock %}

{% block content %}
<div class="feed-list">
  {% for feed_info in feed_list %}
  <div class="feed">
    {% let recipe = feed_info.recipe.clone() %}
    <h2>
      <a href="/feeds/{{ recipe.name }}">
        {{ recipe.feed_title }}
      </a>
    </h2>
    <div class="feed-source">
      <a class="link" href="{{ recipe.url }}" title="Source" rel="noreferrer" target="_blank">
        {{ recipe.url }}
      </a>
      {% if feed_info.generated_at.is_none() %}
      <div class="feed-not-generated">(not generated)</div>
      {% endif %}
      {% if feed_info.generated_at.is_some() && feed_info.is_empty %}
      <div class="feed-empty">(empty)</div>
      {% endif %}
      {% match feed_info.error_message %}
      {% when Some with (error_message) %}
      <div class="feed-error">(error: {{ error_message }})</div>
      {% when None %}
      {% endmatch %}
    </div>
    <details class="recipe">
      <summary>Recipe</summary>
      <pre>{{ feed_info.recipe_pretty_yaml|escape }}</pre>
    </details>
    <div class="actions">
      <a href="/feeds/{{ recipe.name }}/generate">
        <button>Generate</button>
      </a>
      <a href="/feeds/{{ recipe.name }}/delete">
        <button>Delete</button>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
