{% extends "base.html" %}

{% block title %}Import recipe{% endblock %}

{% block head %}
<style>
textarea {
  border: 1px solid #999;
  border-radius: 0;
  height: 200px;
  width: 100%;
}

button {
  margin-top: 5px;
}
</style>
{% endblock %}

{% block content %}
<div class="import-recipe">
  <form method="post" action="/import-recipe">
    <textarea name="recipe_yaml" placeholder="Paste recipe"></textarea>
    <button type=submit">Submit</button>
  </form>
</div>
{% endblock %}
